<%= form_with(model: club, local: true) do |form| %>
  <% if club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="offset-bottom">
    <legend><%= club.name %></legend>
    <div class="row">
      <div class="col-sm-6">

        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, id: :club_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :cell %>
          <%= form.text_field :cell, id: :club_cell, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, id: :club_email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :sensei %>
          <%= form.text_field :sensei, id: :club_sensei, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :contact_number %>
          <%= form.text_field :contact_number, id: :club_contact_number, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :cell %>
          <%= form.text_field :cell, id: :club_cell, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :landline %>
          <%= form.text_field :landline, id: :club_landline, class: 'form-control' %>
        </div>


      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :province %>
          <!-- <%= form.text_field :province, id: :club_province, class: 'form-control' %> -->
          <select id="club_province" class="form-control">
            <% all_provinces.each do |province| %>
              <option
                value="<%= province.slug %>"
                <%= province.id == current_province.id ? 'selected' : '' %>>
                  <%= province.name %>
              </option>
            <% end %>
          </select>
        <!-- dsf  <%= options_from_collection_for_select(Province.all, :id, :name) %> -->
        </div>
        <div class="form-group">
          <%= form.label :district %>
          <!-- <%= form.text_field :district, id: :club_district, class: 'form-control' %> -->
          <% all_provinces.each do |province| %>
            <select id="districts-<%= province.slug %>"
              class="form-control <%= province.id == current_province.id ? '' : 'hidden' %>"
              data-select-type="district"
              name="club[district_id]">
              <% province.districts.each do |district| %>
                <option
                  value="<%= district.id %>"
                  <%= club.district && club.district.id == district.id ? 'selected' : '' %>>
                    <%= district.name %>
                  </option>
              <% end %>
            </select>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="actions">
          <%= form.submit %>
        </div>
      </div>
    </div><!-- .row -->
  </fieldset>

<% end %>
