<%= render 'partials/headline',
    headline: 'All Clubs',
    page_name: 'clubs',
    current_tab: '' %>

<div class="section-content">
  <div class="container">

    <!-- header content here? -->

    <div class="row">
      <div class="sidebar">
        <div class="list-group list-group-nested">

          <button class="list-group-item active" data-toggle="collapse" data-target="#demo">
            <h4 class="list-group-item-heading">Pages</h4>
          </button>

          <div id="demo" class="collapse">
            <a href="#" class="list-group-item list-group-item-nested">Home</a>
            <a href="#" class="list-group-item list-group-item-nested">Products</a>
            <a href="#" class="list-group-item list-group-item-nested">About</a>
          </div>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Articles</h4>
          </a>

          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Settings</h4>
          </a>

        </div>
      </div>
      <div class="content">

        <div class="row">

          <div class="col-sm-2 col-sm-push-10">
            <ul class="nav nav-letters">
              <% @districts_by_letter.keys.each do |letter| %>
                <li><a href="#<%= letter %>"><%= letter.upcase %></a></li>
              <% end %>
            </ul>
          </div>
          <div class="col-sm-10 col-sm-pull-2">
            <%= @districts_by_letter.keys.each do |letter| %>
              <h3 id="<%= letter %>"><%= letter %></h3>
              <div class="table-responsive table-responsive-dropdowns">

                <% @districts_by_letter[letter].each do |district| %>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="col-sm-3" tabindex="0"><%= district.name %></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% district.clubs.each do |club| %>
                        <tr>
                          <td><%= club.name %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>

                <% end %>
              </div>
            <% end %>
          </div>

        </div><!-- .row -->

        <br>

        <%= link_to 'New Dojo', new_club_path %>
      </div>
    </div>
  </div>
</div>
