<%= render 'partials/headline',
    headline: "All Clubs > #{current_province.name}",
    page_name: 'clubs',
    current_tab: '' %>

<div class="section-content">
  <div class="container">

    <!-- header content here? -->

    <div class="row">
      <div class="sidebar">
        <div class="list-group list-group-nested">

          <%= link_to clubs_path, class: "list-group-item  #{ @current_district.nil? ? 'active' : '' }" do %>
            <h4 class="list-group-item-heading">All Clubs</h4>
          <% end %>

          <button class="list-group-item" data-toggle="collapse" data-target="#demo">
            <h4 class="list-group-item-heading ">Filter By District</h4>
          </button>

          <div id="demo" class="collapse in">
            <% current_province.districts.each do |district| %>
              <%= link_to district_club_path(district), class: "list-group-item list-group-item-nested #{ (!@current_district.nil? && @current_district.id == district.id) ? 'active' : '' }" do %>
                <%= district.name %>
              <% end %>
              <!-- <a href="#" class="list-group-item active list-group-item-nested">Home</a> -->

            <% end %>
            <!-- <a href="#" class="list-group-item active list-group-item-nested">Home</a>
            <a href="#" class="list-group-item list-group-item-nested">Products</a>
            <a href="#" class="list-group-item list-group-item-nested">About</a> -->
          </div>
          <!-- <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Articles</h4>
          </a>

          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Settings</h4>
          </a> -->

        </div>
      </div>
      <div class="content">

        <div class="row">

          <div class="col-sm-2 col-sm-push-10">
            <ul class="nav nav-letters">
              <% @districts_by_letter.keys.each do |letter| %>
                <li><a href="#<%= letter %>"><%= letter.upcase %></a></li>
              <% end %>
            </ul>
          </div>
          <div class="col-sm-10 col-sm-pull-2">
            <%= @districts_by_letter.keys.each do |letter| %>
            <h3 id="<%= letter %>"><%= letter.upcase %></h3>
            <div class="table-responsive table-responsive-dropdowns">

              <% @districts_by_letter[letter].each do |district| %>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="col-sm-" tabindex="0"><%= district.name %></th>
                      <!-- <th>Cell</th>
                      <th>Email</th>
                      <th>Sensei</th>
                      <th>Contact number</th>
                      <th>Cell</th>
                      <th>Landline</th>
                      <th colspan="3"></th> -->
                      <th></th> <!-- For the edit button -->
                    </tr>
                  </thead>

                  <tbody>
                    <% district.clubs.each do |club| %>
                      <tr>
                        <td>
                          <%= link_to club_path(club) do %>
                            <%= club.name %>
                          <% end %>
                        </td>
                        <!-- <td><%= club.cell %></td>
                        <td><%= club.email %></td>
                        <td><%= club.sensei %></td>
                        <td><%= club.contact_number %></td>
                        <td><%= club.cell %></td>
                        <td><%= club.landline %></td>
                        <td><%= link_to 'Show', club %></td>
                        <td><%= link_to 'Edit', edit_club_path(club) %></td>
                        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                        <td class="table-cell-actions">
                          <%= link_to edit_club_path(club), class: 'item-action', title: 'Edit Club' do %>
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
            </div>

                  <% end %>
                </tbody>
              </table>

            </div>
          </div>

        </div><!-- .row -->

        <br>

      </div>
    </div>
  </div>
</div>
