<%= render 'partials/headline',
    headline: 'All Clubs',
    page_name: 'clubs',
    current_tab: '' %>

<div class="section-content">
  <div class="container">

    <!-- header content here? -->

    <div class="row">
      <div class="sidebar">
        <div class="list-group list-group-nested">

          <button class="list-group-item active" data-toggle="collapse" data-target="#demo">
            <h4 class="list-group-item-heading">Pages</h4>
          </button>

          <div id="demo" class="collapse">
            <a href="#" class="list-group-item list-group-item-nested">Home</a>
            <a href="#" class="list-group-item list-group-item-nested">Products</a>
            <a href="#" class="list-group-item list-group-item-nested">About</a>
          </div>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Articles</h4>
          </a>

          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Settings</h4>
          </a>

        </div>
      </div>
      <div class="content">

        <div class="row">
          
          <div class="col-sm-2 col-sm-push-10">
            <ul class="nav nav-letters">
              <li><a href="#letter-a">A</a></li>
              <li><a href="#letter-b">B</a></li>
              <li><a href="#letter-c">C</a></li>
            </ul>
          </div>
          <div class="col-sm-10 col-sm-pull-2">
            <h3 id="letter-a">A</h3>
            <div class="table-responsive table-responsive-dropdowns">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="col-sm-3" tabindex="0">Name</th>
                    <!-- <th>Cell</th>
                    <th>Email</th>
                    <th>Sensei</th>
                    <th>Contact number</th>
                    <th>Cell</th>
                    <th>Landline</th>
                    <th colspan="3"></th> -->
                  </tr>
                </thead>

                <tbody>
                  <% @clubs.each do |club| %>
                    <tr>
                      <td><%= club.name %></td>
                      <!-- <td><%= club.cell %></td>
                      <td><%= club.email %></td>
                      <td><%= club.sensei %></td>
                      <td><%= club.contact_number %></td>
                      <td><%= club.cell %></td>
                      <td><%= club.landline %></td>
                      <td><%= link_to 'Show', club %></td>
                      <td><%= link_to 'Edit', edit_club_path(club) %></td>
                      <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                    </tr>
                  <% end %>
                </tbody>
              </table>

            </div>
            <h3 id="letter-b">B</h3>
            <div class="table-responsive table-responsive-dropdowns">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="col-sm-3" tabindex="0">Name</th>
                    <!-- <th>Cell</th>
                    <th>Email</th>
                    <th>Sensei</th>
                    <th>Contact number</th>
                    <th>Cell</th>
                    <th>Landline</th>
                    <th colspan="3"></th> -->
                  </tr>
                </thead>

                <tbody>
                  <% @clubs.each do |club| %>
                    <tr>
                      <td><%= club.name %></td>
                      <!-- <td><%= club.cell %></td>
                      <td><%= club.email %></td>
                      <td><%= club.sensei %></td>
                      <td><%= club.contact_number %></td>
                      <td><%= club.cell %></td>
                      <td><%= club.landline %></td>
                      <td><%= link_to 'Show', club %></td>
                      <td><%= link_to 'Edit', edit_club_path(club) %></td>
                      <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                    </tr>
                  <% end %>
                </tbody>
              </table>

            </div>
            <h3 id="letter-c">C</h3>
            <div class="table-responsive table-responsive-dropdowns">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="col-sm-3" tabindex="0">Name</th>
                    <!-- <th>Cell</th>
                    <th>Email</th>
                    <th>Sensei</th>
                    <th>Contact number</th>
                    <th>Cell</th>
                    <th>Landline</th>
                    <th colspan="3"></th> -->
                  </tr>
                </thead>

                <tbody>
                  <% @clubs.each do |club| %>
                    <tr>
                      <td><%= club.name %></td>
                      <!-- <td><%= club.cell %></td>
                      <td><%= club.email %></td>
                      <td><%= club.sensei %></td>
                      <td><%= club.contact_number %></td>
                      <td><%= club.cell %></td>
                      <td><%= club.landline %></td>
                      <td><%= link_to 'Show', club %></td>
                      <td><%= link_to 'Edit', edit_club_path(club) %></td>
                      <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                    </tr>
                  <% end %>
                </tbody>
              </table>

            </div>
          </div>

        </div><!-- .row -->

        <br>

        <%= link_to 'New Dojo', new_club_path %>
      </div>
    </div>
  </div>
</div>
