<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @club.cell %>
</p>

<p>
  <strong>Email:</strong>
  <%= @club.email %>
</p>

<p>
  <strong>Sensei:</strong>
  <%= @club.sensei %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @club.contact_number %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @club.cell %>
</p>

<p>
  <strong>Landline:</strong>
  <%= @club.landline %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
