<!-- <% current_tab = local_assigns.fetch(:current_tab) %>

<nav>
  <ul class="nav nav-tabs nav-tabs-header">

    <li class="<%= current_tab == 'all' ? 'active' : '' %>">
      <%= link_to '#' do %>
        <span class="glyphicon glyphicon-user offset-right" aria-hidden="true"></span>
        <span class="hidden-xs">All Members</span>
      <% end %>
    </li>
    <li class="<%= current_tab == 'new' ? 'active' : '' %>">
      <%= link_to '#' do %>
        <span class="glyphicon glyphicon-plus-sign offset-right" aria-hidden="true"></span>
        <span class="hidden-xs">New Member</span>
      <% end %>
    </li>
    <li class="<%= current_tab == 'settings' ? 'active' : '' %>">
      <%= link_to '#' do %>
        <span class="glyphicon glyphicon-cog offset-right" aria-hidden="true"></span>
        <span class="hidden-xs">Settings</span>
      <% end %>
    </li>

  </ul>
</nav> -->
