<!-- Collapsible menu -->
<div class="collapse navbar-collapse" id="mainMenu">

  <ul class="nav navbar-nav" data-nav-name="<%= @nav_category %>">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Select Province">
        <%= current_province.name %>
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
      </a>
      <ul class="dropdown-menu">
        <% all_provinces.each do |province| %>
          <li class="dropdown-header <%= (province.id == current_province.id) ? 'active' : '' %>">
            <%= link_to province_url(province) do%>
              <%= province.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
    <li class="dropdown <%= @nav_category == 'clubs' ? 'active' : '' %>" >
      <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
        <span class="glyphicon glyphicon-education offset-right" aria-hidden="true"></span>
        <span class="hidden-sm">Clubs</span>
      <% end %>
      <ul class="dropdown-menu">
        <li>
          <%= link_to clubs_path do %>
            All <%= current_province.name %> Clubs
          <% end %>
        </li>
        <li class="divider"></li>
        <% current_province.clubs.each do |club| %>
          <% if not @club.nil? and @club.id == club.id %>
            <li class="active"><%= link_to club.name, club_path(club) %></li>
          <% else %>
            <li><%= link_to club.name, club_path(club) %></li>
          <% end %>
        <% end %>
        <li class="divider"></li>
        <li>
          <%= link_to new_club_path do %>
            <span class="glyphicon glyphicon-plus-sign offset-right icon-shift-down" aria-hidden="true"></span>
            New Club
          <% end %>
        </li>
      </ul>
    </li>
    <li class="<%= @nav_category == 'competitions' ? 'active' : '' %>">
      <a href="#">
        <span class="glyphicon glyphicon-king offset-right" aria-hidden="true"></span>
        <span class="hidden-sm">Competitions</span>
      </a>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown <%= @nav_category == 'user_settings' ? 'active' : '' %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="My account">
        <span class="glyphicon glyphicon-user offset-right" aria-hidden="true"></span>
        <span class="visible-xs">My account</span>
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
      </a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">
          <%= link_to edit_user_path(current_user), title: 'Settings' do %>
            <%= current_user.name %>
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to destroy_user_session_path do %>
            <span class="glyphicon glyphicon-off offset-right icon-shift-down" aria-hidden="true"></span>
            Sign out
          <% end %>
        </li>
      </ul>
    </li><!-- .dropdown -->
  </ul><!-- .nav -->

</div>
