<%= form_with(model: dojo, local: true) do |form| %>
  <% if dojo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dojo.errors.count, "error") %> prohibited this dojo from being saved:</h2>

      <ul>
      <% dojo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :dojo_name %>
  </div>

  <div class="field">
    <%= form.label :cell %>
    <%= form.text_field :cell, id: :dojo_cell %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :dojo_email %>
  </div>

  <div class="field">
    <%= form.label :sensei %>
    <%= form.text_field :sensei, id: :dojo_sensei %>
  </div>

  <div class="field">
    <%= form.label :contact_number %>
    <%= form.text_field :contact_number, id: :dojo_contact_number %>
  </div>

  <div class="field">
    <%= form.label :cell %>
    <%= form.text_field :cell, id: :dojo_cell %>
  </div>

  <div class="field">
    <%= form.label :landline %>
    <%= form.text_field :landline, id: :dojo_landline %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
