<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dojo.name %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @dojo.cell %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dojo.email %>
</p>

<p>
  <strong>Sensei:</strong>
  <%= @dojo.sensei %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @dojo.contact_number %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @dojo.cell %>
</p>

<p>
  <strong>Landline:</strong>
  <%= @dojo.landline %>
</p>

<%= link_to 'Edit', edit_dojo_path(@dojo) %> |
<%= link_to 'Back', dojos_path %>
