<section class="section-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        <h5><em>First name:</em></h5>
        <p>
          <%= @member.first_name %>
        </p>
      </div>
      <div class="col-xs-7">
        <h5><em>Last name:</em></h5>
        <p>
          <%= @member.last_name %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <h5><em>Residential Address:</em></h5>
        <p>
          <%= @member.residential_address %>
        </p>
      </div>

      <div class="col-xs-4">
        <h5><em>Code:</em></h5>
        <p>
          <%= @member.code %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <h5><em>Cell Number:</em></h5>
        <p>
          <%= @member.cell_number %>
        </p>
      </div>
      <div class="col-xs-7">
        <h5><em>Email:</em></h5>
        <p>
          <%= @member.email %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <h5><em>Current Weight:</em></h5>
        <p>
          <%= @member.current_weight || 'N/A' %>
        </p>
      </div>
      <div class="col-xs-7">
        <h5><em>Current Height:</em></h5>
        <p>
          <%= @member.current_height || 'N/A' %>
        </p>
      </div>
    </div>
    <div class="row divider ">
    </div>
    <div class="row">
      <div class="col-xs-7">
        <h5><em>Club Name:</em></h5>
        <p>
          NAME Of CLUB HERE
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <h5><em>Club Cell:</em></h5>
        <p>
          Cell of Club HERE
        </p>
      </div>
      <div class="col-xs-7">
        <h5><em>Email:</em></h5>
        <p>
          Club email here
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <h5><em>Sensei Name:</em></h5>
        <p>
          Name of Sensei here
        </p>
      </div>
      <div class = "col-xs-7">
        <h5><em>Region</em></h5>
        <p>
          Region goes HERE
        </p>
      </div>
    </div>
  </div>
</section>
