<section class="section-content">
  <div class="container">
    <div class="row offset-bottom">
      <div class="col-xs-5">
        <h4>First name:</h4>
        <p>
          <%= @member.first_name %>
        </p>
      </div>
      <div class="col-xs-7">
        <h4>Last name:</h4>
        <p>
          <%= @member.last_name %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Residential Address:</h4>
        <p>
          <%= @member.residential_address %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <h4>Code:</h4>
        <p>
          <%= @member.code %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <h4>Cell Number:</h4>
        <p>
          <%= @member.cell_number %>
        </p>
      </div>
      <div class="col-xs-7">
        <h4>Email:</h4>
        <p>
          <%= @member.email %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <h4>Current Weight:</h4>
        <p>
          <%= @member.current_weight || 'N/A' %>
        </p>
      </div>
      <div class="col-xs-7">
        <h4>Current Height:</h4>
        <p>
          <%= @member.current_height || 'N/A' %>
        </p>
      </div>
    </div>
    <div class="row divider">
    </div>
    <div class="row">
      <div class="col-xs-7">
        <h4>Club Name:</h4>
        <p>
          NAME Of CLUB HERE
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <h4>Club Cell:</h4>
        <p>
          Cell of Club HERE
        </p>
      </div>
      <div class="col-xs-7">
        <h4>Email:</h4>
        <p>
          Club email here
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <h4>Sensei Name:</h4>
        <p>
          Name of Sensei here
        </p>
      </div>
    </div>
    <div class="row">
      <div class = "col-xs-7">
        <h4>Region</h4>
        <p>
          Region goes HERE
        </p>
      </div>
    </div>
  </div>
</section>
