<%= render 'partials/headline',
    headline: @club.name,
    page_name: 'members',
    current_tab: 'all' %>

<div class="section-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-7 offset-bottom">
        <!-- <%= link_to new_club_member_path(@club), class: 'btn btn-warning btn-raised' do %>
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          New Member
        <% end %> -->
        <div class="input-group has-feedback has-feedback-right">
          <div class="input-group-btn">
            <button id="current-search"
                type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                data-search-field="name">
              Name
            </button>
            <!-- values are brought in from members.coffee -->
            <ul id="other-fields" class="dropdown-menu">
              <!-- <li><a href="#" data-search-field="belt">Belt</a></li>
              <li><a href="#">Affiliated</a></li> -->
            </ul>
          </div><!-- .btn-group -->
          <input id="search-input" type="text" class="form-control" aria-label="search" />
          <i class="form-control-feedback glyphicon glyphicon-search"></i>

          <!-- <div class="row">
            <div class="col-xs-6">
              <input id="search-input" type="text" class="form-control"  aria-label="search"/>
            </div> -->
            <!-- <div class="col-xs-2"> -->
              <!-- <label class="switch ">
                <input type="checkbox">
                <span class="slider"></span>
              </label> -->
            <!-- </div> -->
          <!-- </div> -->

        </div><!-- .input-group -->

      </div>
      <div class="col-xs-4 offset-bottom pull-right orrset-right">
        <div class="btn-group pull-right">
          <%= link_to club_members_url(@club, format: :xlsx), class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
          <% end %>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Action</a></li>
            <li><a href="#">Other action</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated Link</a></li>
          </ul>
        </div>
      </div>
    </div><!-- .row -->
    <div class="table-responsive table-responsive-dropdowns">
      <table class="table table-hover">
        <thead>
          <tr>
            <!-- <th class="table-cell-id">#</th> -->
            <!-- <th data-toggle="sort" data-sort-onload="asc" class="col-sm-3" tabindex="0">Date</th> -->
            <th class="col-sm-3" tabindex="0">Name</th>
            <th class="col-sm-2" tabindex="0">Belt</th>
            <!-- <th data-toggle="sort" class="col-sm-3 text-right" tabindex="0">Race</th> -->
            <th class="col-sm-2 text-center">Age</th>
            <th class="col-sm-3 text-center" tabindex="0">Affiliation</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @members.each_with_index do |member, index| %>
            <tr class="member_row">
              <!-- <td class="table-cell-id">
                <%= member.id %>
              </td> -->
              <td data-search-field="name">
                <%= link_to club_member_path(@club, member), class: 'text-nowrap' do %>
                  <%= member.first_name %>
                  <%= member.last_name %>
                <% end %>
              </td>
              <td data-search-field="belt">
                <div class="small text-nowrap">
                  <%= member.belt %>
                </div>
              </td>
              <td class="text-center" data-search-field="age">
                <%= member.age %>
              </td>
              <td class="text-center affiliation_badge" data-search-field="affiliated">
                <%= render 'components/affiliation_badge', is_affiliated: member.is_affiliated %>
              </td>
              <td class="table-cell-actions">
                <%= link_to edit_club_member_path(@club, member), class: 'item-action', title: 'Edit' do %>
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <% end %>
                <%= link_to club_member_affiliate_path(@club, member), class: 'item-action mark-aff-link', title: 'Mark as affiliated', remote: true, method: :post do %>
                  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                <% end %>
                <div class="btn-group">
                  <button class="item-action" type="button" id="itemOptions<%= index %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="itemOptions<%= index %>">
                    <li>
                      <%= link_to club_member_path(@club, member), data: {
                        'toggle' => 'confirm',
                        'confirm-message' => "Do you really want to remove this member?",
                        'confirm-yes' => "Yes",
                        'confirm-no' => "No"
                      }, method: :delete do %>

                        <span class="glyphicon glyphicon-remove-sign offset-right" aria-hidden="true"></span>
                        Remove member
                      <% end %>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>

      <div class="hidden">
        <div id="affiliated-logo">
          <%= render 'components/affiliation_badge', is_affiliated: true %>
        </div>
        <div id="not-affiliated-logo">
          <%= render 'components/affiliation_badge', is_affiliated: false %>
        </div>
      </div>

    </div>
  </div>
</div>
